.gradle/
build/
out/
run/
.run/
logs/
*.log
*.tmp

# IntelliJ / IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# ai
.agents
Agents.md

# local
*-local.*

# OS files
.DS_Store
Thumbs.db
